{{#navigation-controls id="menu"}}
  {{#each button in buttons}}
    <button id={{button.id}} class="button button-square button-jumbo {{button.class}}">
      <i class="fa {{button.icon}}"></i>
    </button>
  {{/each}}
{{/navigation-controls}}  

<!-- 
  Transform session in a component, and pass the name of the correspondent slideout 
  to render different components dynamically when it's needed.
-->
{{#each session in sessions}}
  <div id={{session}} class="after-transition slide">
    <div class="slideout-color"></div>
  </div>
{{/each}}
