html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
}

#menu {
    z-index: 1;
    position: absolute;
    margin-left: 50px;
}

#menu-slideout {
    z-index: 0;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    width: 402px;
    border-right: solid 10px #7b72e9;
    transition: opacity .055s, margin-left .055s;
    margin-left: 50px;
    opacity: 0;
    height: 300px;
}

#menu-slideout.after-transition {
    height: 0;
    overflow: hidden;
}

#menu-slideout.menu-slideout-on {
    margin-left: 110px;
    opacity: 1;
}

#menu-wrapper {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
