html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
}

#menu {
    z-index: 0;
    position: absolute;
    margin-left: 50px;
}

#menu-wrapper {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
