html, body, #map {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: relative;
}

#menu {
    z-index: 0;
    position: absolute;
    margin-left: 50px;
}

#menu-slideout {
    box-sizing: border-box;
    position: absolute;
    margin-left: 110px;
    height: 300px;
    background-color: white;
    opacity: 0;
    border-right: solid 0 #7b72e9;
    transition: all 4s;
}

#menu-slideout.menu-slideout-off {
    width: 0;
    opacity: 0;
    border-right: solid 0 #7b72e9;
}

#menu-slideout.menu-slideout-on {
    width: 402px;
    opacity: 1;
    border-right: solid 10px #7b72e9;
}

#menu-wrapper {
    position: relative;
    top: 30%;
    transform: translateY(-30%);
}
