$containers-slideout: ("#slideout-goto" "#slideout-marker" "#slideout-line" "#slideout-battery" "#slideout-tie");  

@mixin container-slideout {
    z-index: 1;
    box-sizing: border-box;
    position: absolute;
    background-color: white;
    width: 402px;
    border-right: solid 10px;
    transition: opacity 0.055s, margin-left 0.055s;
    margin-left: 50px;
    opacity: 0;
    padding: 30px;
    height: 300px;
}

@mixin slideout-after-transition {
    height: 0;
    width: 0;
    overflow: hidden;
}

html, body {
    padding: 0;
    margin: 0;
} 

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    z-index: 0;
    position: relative;
    height: 100%;
}

#menu-wrapper {
    z-index: 1;
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

#menu {
    z-index: 2;
    position: absolute;
    margin-left: 50px;
}

@each $container-slideout in $containers-slideout {
    #{$container-slideout} {
        @include container-slideout
    }

    #{$container-slideout}.after-transition {
        @include slideout-after-transition
    }

    #{$container-slideout}.menu-slideout-on {
        margin-left: 110px;
        opacity: 1;
    }
}

button::-moz-focus-inner {
    border: 0;
}
