$profiles: ("#slideout-goto": #7b72e9,
            "#slideout-marker": #a5de37,
            "#slideout-line": #ff4351,
            "#slideout-battery": #feae1b,
            "#slideout-tie": #1b9af7);

$positions: ("", "-top", "-right", "-left", "-bottom");

@mixin container-slideout {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    background-color: white;
    width: 402px;
    border-right: solid 10px;
    transition: opacity 0.1s, margin-left 0.1s;
    margin-left: -60px;
    display: none;
    opacity: 0;
    padding: 30px;
    height: 300px;
}

@mixin container-slideout-active {
    display: inline;
    margin-left: 0;
    opacity: 1;
}

html, body {
    padding: 0;
    margin: 0;
    color: #222;
}

.glyphicons {
    left: 18px;
    bottom: 6px;
}

.button {
    z-index: 3;
    position: relative;
}

.glyphicons, .glyphicons:before {
    color: inherit;
}

.pure-form {
    select:invalid {
        color: #a9a9a9;
    }

    option:disabled {
        color: #a9a9a9;
    }

    option {
        color: #222;
    }
}

@each $position in $positions {
  .l-box#{$position} {
    padding#{$position}: 1.17em;
  }
}

.content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#map {
    z-index: 0;
    position: relative;
    height: 100%;

    .leaflet-google-layer {
      z-index: 0;
    }

    .leaflet-map-pane {
      z-index: 1;
    }
}

#menu-wrapper {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
}

#menu {
    z-index: 3;
    position: absolute;
    margin-left: 50px;
    font-size: 0;

    div {
      font-size: 14px;

      .submit {
          position: absolute;
          bottom: 30px;
          right: 30px;
      }
    }
}

@each $slideout, $color in $profiles {
    #{$slideout} {
        @include container-slideout;
        border-right-color: $color;
    }

    #{$slideout}.container-slideout-active {
        @include container-slideout-active;
    }
}

button::-moz-focus-inner {
    border: 0;
}
