<div id="menu-wrapper">
  <div id="menu">
    {{#each button in buttons}}
      <div>
        <button id={{button.id}} class="button {{button.class}} button-square button-jumbo">
          <i class="fa {{button.icon}}"></i>
        </button>
      </div>
    {{/each}}
  </div>
  {{#each session in sessions}}
    <div id={{session}} class="after-transition slide">
      <div class="slideout-color"></div>
    </div>
  {{/each}}
</div>

<script>
  $("#menu-wrapper").on("click", ".button:not('.clicked')", function(e) {
    button = $(this);
    id = button.prop("id");
    slideout = $("#slideout-" + id);


    if(slideout.hasClass("menu-slideout-on")) {
      slideout.removeClass("menu-slideout-on");
    }

    $(".clicked").removeClass("clicked");
    button.addClass("clicked");
    $(".slide").removeClass("after-transition");
    slideout.css("border-right-color", button.css("background-color"));
    $(".menu-slideout-on").removeClass("menu-slideout-on");
    slideout.addClass("menu-slideout-on");
  });

  $("#menu-wrapper").on("click", ".clicked", function() {
    button = $(this);
    id = button.prop("id");
    slideout = $("#slideout-" + id);

    slideout.one("transitionend", function(){
      $(".slide").addClass("after-transition");
    });
   
    $(".menu-slideout-on").removeClass("menu-slideout-on");
    button.removeClass("clicked");
  });
</script>
